.tg-acc {
    background-color: $accent2hv;
    border-radius: 3.5px !important;
    &:hover {
        border: 1px solid $accent2;
        box-shadow: 0 3px 12px -6px $darkest;
    }
    transition: 0.2s border ease-in !important;
    transition: 0.2s box-shadow ease-in !important;
}

.tg-twitch-color {
    color: #6441a5;
}

.arrow {
    transition: 0.2s transform ease-in-out;
}

.arrow.rotated {
    transform: rotate(180deg);
}

.collapse {
    box-shadow: inset 0 -7px 10px -12px $dark;
}

/* Collapse visibility mod */
a.visibility-mod {
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    @media (min-width: 768px) {
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}