@import url('https://fonts.googleapis.com/css?family=Lato|Questrial|Raleway');

$big-font: 'Questrial', sans-serif;
$med-font: 'Raleway', sans-serif;
$text-font: 'Lato', sans-serif;

/*COLOR VARS*/
$lightest: #f8f8f8;
$lighter: #EFF4F1;
$light: #E8EDEB;
$accent1: #3B87AA;
$accent2: #73A569;
$accent2hv: #A8C22A;
$lightestgray: #dee2e6;
$lightergray: #c1c8d1;
$gray: #2b4457;
$dark: #081F2A;
$darkest: #0D1317;

h1 {
    font-family: $big-font;
}

h2 {
    font-family: $big-font;
}

h3 {
    font-family: $med-font;
}

h4 {
    font-family: $med-font;
}

h5,a {
    font-family: $med-font;
}

h5{
    font-size: 1em;
}

@media (min-width: 768px) {
    h5 {
        font-size: 1em;
    }
}

@media (min-width: 992px) {
    h5 {
        font-size: 1.2em;
    }
}

p,span,body{
    font-family: $text-font;
}

a {
    color: $dark;
    &:hover {
        color: $darkest;
        text-decoration: none;
    }
}